.grid-container, .grid-container.fluid{
    padding: 0px;
    margin: 0px;
}

h2 {
    font-size: 36pt;
    font: "Arial Narrow";
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding-top: 88px;
    padding-bottom: 28px;
    color: rgb(43,62,66);
}

h3 {
    font-size: 14pt;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: rgb(43,62,66);
}

p {
    font-size: 14pt;
    margin: 0px;
    padding: 0px;
    color: rgb(43,62,66);
}

ul{
    font-family: 'ArialNarrow';
    font-size: 12pt;
    font-weight: bold;
    color: rgb(43,62,66);
}

a{
    color: rgb(43,62,66);
}

a:hover{
    color: rgb(242,88,62);
}

.header {
    
}

.logo{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.logo img {
    max-width: 30%;
}

.menu {
    margin: auto;
}

.section{
    height: 100vh;
}

html{
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

.menuitems a{
    padding: 0px;
}

.menu a, .menu .button{
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
@media screen and (min-width:600px) {
    .menu a, .menu .button{
        padding-top: 0px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.motto h2{
    color: rgb(247,243,232);
}

.motto p{
    text-align: center;
    color: rgb(247,243,232);
}

.mottotext2{
    padding-bottom: 100px;
    padding-top: 40px;
}

.motto{
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(242,88,62);
}

@media screen and (min-width:600px){
    .motto{
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: rgb(242,88,62);}}

.goals{
    padding-bottom: 100px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(247,243,232);
    text-align: center;
}

@media screen and (min-width:600px){
    .goals{
    padding-bottom: 100px;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: rgb(247,243,232);
    text-align: center;
}
}

.goals12, .goals22, .goals32, .goals42{
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    padding-bottom: 40px;
}

@media screen and (min-width:600px){
    .goals12, .goals22, .goals32, .goals42{
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    padding-bottom: 0px;
} 

.aspire{
    background-color: rgb(213,225,221);
    padding-left: 2rem;
    padding-right: 2rem;
}
   
@media screen and (min-width:600px){
    .aspire{
    background-color: rgb(213,225,221);
    padding-left: 10rem;
    padding-right: 10rem;
}
}
    
.goals span{
    font-weight: bold;
} 

.aspire12, .aspire22 {
    padding-bottom: 40px;
}

.aspire32 {
    padding-bottom: 100px;
}

.join{
    background-color: rgb(242,88,62);
    padding-left: 10rem;
    padding-right: 10rem;
}

.join h2, .join p, .join h3 {
    color: rgb(247,243,232);
}

.joinsign {
    margin-bottom: 100px;
    margin-top: 40px;
    text-align: center;
    border: solid 2px;
    padding: 10px;
    border-color: rgb(247,243,232);
    border-radius: 10px;
    margin-left: 300px;
    margin-right: 300px;
}

.jointext{
    text-align: left;
    padding-left: 300px;
    padding-right: 300px;
}

.shop{
    background-color: rgb(247,243,232);
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: center;
}

.shop1{
    padding-left: 20px;
    padding-right: 20px;
}

.shop2{
    padding-left: 20px;
    padding-right: 20px;
}

.shop3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}

.shoptext1, .shoptext2, .shoptext3{
    padding-top: 20px;
}

.footer{
    background-color: white;
    height: 45px;
    text-align: center;
}

h6{
    font-family: 'ArialNarrow';
    font-size: 12pt;
    font-weight: bold;
    color: rgb(50,50,50);
    margin-top: 20px;
    margin-bottom: 20px;
}