/* Natalie Baker */
/* Fundamentals of Web Design */
/* Fall 2018 */



html{
	margin: 0;
	padding: 0;
    background-color: rgba(38,38,38);
	}

body{ 
	font: 110% Chalk Marks;
	line-height: 1.1;
	/*color: rgba(239,231,219);*/
    color: rgba(214,214,214);
	margin: 0; 
	padding: 0;
	}

h1  {
    font: 700% "Return to Sender";
    color: lightcoral;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
    }

h2  {
    font: 200% Chalk Marks;
    color: lightpink;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    }

h3 { 
	font: 200% Chalk Marks;
    color: lightpink;
    text-decoration-line: underline;
	}

.intro{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: dotted 5px;
    border-color: rgba(214,214,214);
    }

.intro h3{
    text-align: center; 
    text-decoration-line: underline;
    }

.intro h2{
    text-decoration-line: underline;
    }

.explanation, .participation, .benefits, .requirements{
    margin-left: 50px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    border: dotted 5px;
    border-color: rgba(214,214,214);
    }

a:link {  
	text-decoration: none; 
	color: lightsteelblue;
    text-underline-position: auto;
	}

a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}

a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: lightskyblue;
	}

abbr {
    text-decoration-line: none;
    }

.sidebar{
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border: dotted 5px; 
    border-color: rgba(214,214,214);
    height: 635px;
    }

a.zen-validate-html, a.zen-validate-css, a.zen-license, a.zen-accessibility, a.zen-github{
    color: lightsteelblue;
    font: 200% Chalk Marks;
    padding-bottom: 50px;
    margin-left: 50px;
    margin-bottom; 50px;
}

a.zen-validate-html{
    padding-left: 50px;
}

.sidebar ul {
    color: lightsteelblue;
    margin-left: -25px;
}

.sidebar li a:visited {
    color: lightsteelblue;   
}

.page-wrapper{
    display: flex;
    flex-wrap: wrap;
    }

.intro{
    width: 100%;
    }

@media screen and (min-width: 1024px){
    .main, .sidebar{
        flex:1;
        }
    }

.main{
    flex-grow: 3;
    }